* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
}

.btn {
  background-color: #e55473;
  color: white;
  padding: 12px 25px;
  border: 0;
  border-radius: 5px;
  font-size: 17px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* Header Section */
header {
  background-color: #e5547320;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.navbar h1 {
  font-size: 60px;
  font-weight: 700;
}

.navbar span {
  color: orangered;
}

/* banner section */
.banner {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.banner .banner-details {
  display: flex;
  gap: 25px;
  flex-direction: column;
  align-items: flex-start;
  max-width: 600px;
}

.banner-details .banner-title {
  font-size: 65px;
  font-weight: 700;
}

.banner-details .banner-description {
  font-size: 1.2rem;
  max-width: 500;
  color: rgba(0, 0, 0, 0.586);
}

.banner-image {
  width: 500px;
}

.banner-image img {
  width: 100%;
}

/* Feature section */

.feature {
  display: flex;
  gap: 50px;
  flex-direction: column;
  padding-top: 120px;
}

.feature .feature-details {
  display: flex;
  gap: 20px;
  flex-direction: column;
  max-width: 500px;
  align-items: center;
  margin: 0 auto;
}

.feature-details .feature-title {
  font-size: 32px;
  font-weight: 600;
}

.feature-details .feature-description {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.735);
  text-align: center;
}

.feature-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 30px;
}

.feature-card {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.feature-flower {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.feature-flower img {
  height: 80%;
}

.feature-card:nth-child(1) .feature-flower {
  background-color: #e5547366;
}

.feature-card:nth-child(2) .feature-flower {
  background-color: #05966864;
}

.feature-card:nth-child(3) .feature-flower {
  background-color: #ddf63b75;
}

.feature-card a {
  color: black;
  font-size: 20px;
  font-weight: 600;
}
